@font-face {
  font-family: 'Lucida Sans';
  src: url('../assets/fonts/LucidaSans.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Segoe WP';
  src: url('../assets/fonts/SegoeWP.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lucida Sans';
  src: url('../assets/fonts/LucidaSans-Italic.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Asap';
  src: url('../assets/fonts/Asap-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Segoe WP';
  src: url('../assets/fonts/SegoeWP-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'PT Sans Caption';
  src: url('../assets/fonts/ptsans/PTSans-CaptionBold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'PT Sans Narrow';
  src: url('../assets/fonts/ptsans/PTSans-NarrowBold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'PT Sans Caption';
  src: url('../assets/fonts/ptsans/PTSans-Caption.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PT Sans';
  src: url('../assets/fonts/ptsans/PTSans-BoldItalic.woff2') format('woff2');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'PT Sans';
  src: url('../assets/fonts/ptsans/PTSans-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'PT Sans';
  src: url('../assets/fonts/ptsans/PTSans-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PT Sans Narrow';
  src: url('../assets/fonts/ptsans/PTSans-Narrow.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PT Sans';
  src: url('../assets/fonts/ptsans/PTSans-Italic.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Segoe UI';
  src: url('../assets/fonts/SegoeUI-BoldItalic.woff2') format('woff2');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Segoe UI';
  src: url('../assets/fonts/SegoeUI-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Segoe UI';
  src: url('../assets/fonts/SegoeUI-Italic.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Segoe UI';
  src: url('../assets/fonts/SegoeUI.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Segoe UI';
  src: url('../assets/fonts/SegoeUI-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../assets/fonts/open-sans/opensans.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
